/***** COLOURS *****/
/******* TYPO ******/
/****** ANIMATION *******/
*, html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100vw;
  margin: 0 auto;
  overflow-x: hidden;
  font-family: "Roboto", sans-serif !important;
  font-size: 16px;
}

.responsive {
  width: 100%;
  height: auto;
  display: block;
}

.no-deco {
  text-decoration: none;
}

h1 {
  font-size: 1.5rem;
}

h2 {
  font-size: 1.2rem;
  padding-bottom: 0.5rem;
}

p {
  font-weight: 400;
  font-size: 1.125rem;
}

@keyframes heart-btn {
  0% {
    transform: scale(0);
    opacity: 1;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}
@keyframes menu-title-apparition {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes underline {
  0% {
    transform: scaleX(0);
  }
  100% {
    transform: scaleX(1);
  }
}
@keyframes checked {
  0% {
    transform: translateX(100px);
  }
  100% {
    transform: translateX(1);
  }
}
@keyframes transition {
  0% {
    width: 100%;
  }
  100% {
    width: 80%;
  }
}
@keyframes price {
  0% {
    transform: translateX(60px);
  }
  100% {
    transform: translateX(1);
  }
}
@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
/******* MAIN BUTTON *******/
.btn {
  border-radius: 30px;
  background: linear-gradient(173deg, #ff79da 0%, #d66cdb 39%, #ab5edc 85%, #9b59dc 100%);
  color: #fff;
  text-decoration: none;
  margin: 0 3rem;
  padding: 1rem;
  font-size: 1.1rem;
  outline: none;
  border: none;
  box-shadow: 2px 2px 10px #BFBABA;
  transition: all 250ms;
}
.btn:hover {
  background: linear-gradient(173deg, rgba(255, 121, 218, 0.9) 0%, rgba(214, 108, 219, 0.9) 39%, rgba(171, 94, 220, 0.9) 85%, rgba(155, 89, 220, 0.9) 100%);
  box-shadow: 2px 2px 10px #646363;
}
.btn:active {
  text-decoration: none;
}

/***** MENU PAGE - HEART BUTTON *****/
.visually-hidden {
  visibility: hidden;
}

.like-btn {
  width: 13vw;
  height: 9vw;
  display: flex;
  justify-content: center;
  align-items: center;
}
.like-btn > .__icon {
  display: block;
  stroke-width: 1px;
}

.like-btn label {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  color: #7e7e7e;
}

.like-btn input[type=checkbox]:checked + label {
  width: 100%;
  height: 100%;
  background: linear-gradient(173deg, #ff79da 0%, #d66cdb 39%, #ab5edc 85%, #9b59dc 100%);
  -webkit-background-clip: text;
  background-clip: text;
  font-weight: 900 !important;
  color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: heart-btn 300ms ease-in-out;
}
.like-btn input[type=checkbox]:checked + label > .far {
  font-weight: 900;
}

/******* MENU PAGE - COMMAND BUTTON *********/
.btn-command {
  width: 50%;
  margin: 2rem 3rem 4rem 3rem;
}

.new-tag::after {
  content: "Nouveau";
  display: block;
  position: absolute;
  width: auto;
  height: auto;
  top: 5%;
  right: 5%;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  background: #99E2D0;
  color: #278870;
  font-size: 1rem;
  font-weight: bold;
}

.header__logo {
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.5rem 0;
  box-shadow: 0px 2px 3px #918b91c0;
  font-family: "Shrikhand", sans-serif;
  font-size: 2rem;
}

/***** HEADER - MENU PAGES *****/
.header {
  display: flex;
  justify-content: center;
}
.header > .__icon {
  color: black;
  text-decoration: none;
}
.header a {
  text-decoration: none;
}

.header__logo--menu {
  box-shadow: none;
  width: 80vw;
  padding-right: 20vw;
}

.home-return {
  color: #353535;
  width: 20vw;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  border: none;
}

.localisation {
  margin-top: 2px;
  background: #eaeaea;
  display: flex;
  justify-content: center;
  align-items: center;
}
.localisation__logo {
  padding: 1rem 0.5rem;
  color: #353535;
}
.localisation__txt {
  padding: 1rem 0.5rem;
  font-size: 0.9rem;
}

.presentation {
  background: #f6f6f6;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  padding: 2rem 1rem 3rem 1rem;
}
.presentation__claim {
  padding: 0 2rem;
}
.presentation__txt {
  padding: 1rem 0 2rem 0;
  font-size: 1.2rem;
  font-weight: 300;
}

.steps {
  padding: 2rem 1rem;
}
.steps__box {
  display: grid;
  grid-template: auto/4% 4% 16% 76%;
  align-items: center;
  padding-bottom: 1.5rem;
}

.steps h1 {
  padding-bottom: 1.5rem;
}

.box__number {
  grid-column: 1/3;
  grid-row: 1;
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background: #9356DC;
  color: #fff;
  width: 1.5rem;
  height: 1.5rem;
  font-size: 0.8rem;
}
.box__element {
  grid-column: 2/5;
  grid-row: 1;
  z-index: 1;
  padding: 1.5rem;
  border-radius: 20px;
  background: #f6f6f6;
  box-shadow: 2px 2px 10px #BFBABA;
  transition: all 250ms;
}
.box__element:hover {
  background-color: #f2eafb;
}
.box__element:hover > .element__icon {
  color: #9356DC;
}

.element__icon {
  padding: 0 0.5rem;
  color: #7e7e7e;
}
.element__txt {
  padding: 0 1rem;
  font-weight: bold;
}

.restaurants {
  background: #f6f6f6;
  display: flex;
  flex-direction: column;
  text-decoration: none;
  padding-bottom: 2rem;
}
.restaurants__card {
  display: flex;
  flex-direction: column;
  flex: 1 1 0;
  margin: 1rem 1.5rem;
  border-radius: 20px;
  text-decoration: none;
  box-shadow: 2px 2px 10px #BFBABA;
  color: #000;
  position: relative;
}
.restaurants__card > .card__img {
  object-fit: cover;
}
.restaurants__card > .card__description {
  padding: 1rem;
  background: #fff;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.restaurants__card:active {
  text-decoration: none;
}

.restaurants h1 {
  margin: 2.5rem 1.5rem 0.5rem 1.5rem;
}

.description__txt {
  display: inline-flex;
  flex-direction: column;
  flex-grow: 1;
  text-decoration: none;
  margin-right: 2rem;
}

.card-link {
  text-decoration: none;
  color: #000;
}

.restau-picture {
  max-height: 25vh;
  object-fit: cover;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.menu-picture {
  width: 100vw;
  height: 35vh;
}

.menu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #f6f6f6;
}
.menu__title {
  width: 100vw;
  transform: translateY(-50%);
  padding: 2rem 2rem 0 1rem;
  border-radius: 40px 40px 0 0;
  background: #f6f6f6;
  font-family: "Shrikhand", sans-serif;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.menu__title h1:first-child {
  font-size: 1.8rem;
}
.menu__card {
  width: 100vw;
  padding: 0 1rem 1rem 1rem;
}
.menu__card h2:first-child {
  text-transform: uppercase;
  font-weight: 300;
  font-size: 1.1rem;
  animation: menu-title-apparition 800ms forwards;
}
.menu__card h2:first-child::after {
  content: "";
  display: block;
  width: 10vw;
  height: 0.5vh;
  margin-top: 0.3rem;
  background: #99E2D0;
  transform-origin: left;
  animation: underline 1000ms forwards;
}

.card__txt {
  display: grid;
  align-items: center;
  grid-template: 1fr 1fr/auto 20%;
  grid-auto-columns: 60px;
  margin: 0.8rem 0;
  background: #fff;
  border-radius: 20px;
  box-shadow: 2px 2px 10px #BFBABA;
  transform: scale(1);
  opacity: 0;
  animation: apparition 800ms forwards;
  overflow: hidden;
}
.card__txt--1 {
  animation-delay: 200ms;
}
.card__txt--2 {
  animation-delay: 400ms;
}
.card__txt--3 {
  animation-delay: 600ms;
}
.card__txt--4 {
  animation-delay: 800ms;
}
@keyframes apparition {
  0% {
    opacity: 0.2;
    transform: translateY(20%);
  }
  100% {
    opacity: 1;
    transform: translateY(1);
  }
}
.card__txt__plate {
  grid-row: 1;
  grid-column: 1/3;
  padding: 0.8rem 0 0 0.8rem;
  font-size: 1rem;
}
.card__txt__description {
  grid-row: 2;
  grid-column: 1/span 2;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  padding: 0 0 0.5rem 0.8rem;
}
.card__txt__price {
  grid-row: 2;
  grid-column: 2;
  z-index: 10;
  justify-self: center;
  padding-bottom: 0.5rem;
  font-weight: bold;
}
.card__txt p {
  font-size: 0.9rem;
}
.card__txt:active > .card__txt__description {
  animation: transition 350ms 150ms both;
}
.card__txt:active > .checked-icon {
  display: block !important;
  animation: checked 500ms forwards ease-out;
}
.card__txt:active > .checked-icon::after {
  animation: rotation 1000ms 2;
}
.card__txt:active > .card__txt__price {
  animation: price 350ms 150ms both ease-out;
}

.checked-icon {
  display: none !important;
  grid-column: 3;
  grid-row: 1/3;
  text-align: center;
  height: 100%;
  padding-top: 40%;
  border-radius: 0 20px 20px 0;
  background: #99E2D0;
  color: #fff;
  transform-origin: right;
}
.checked-icon::before {
  transition: transform 800ms;
}

footer {
  background-color: #353535;
  color: #fff;
}

.footer__logo {
  padding: 1.5rem 1.5rem 0.5rem 1.5rem;
  font-family: "Shrikhand", sans-serif;
  font-size: 1.2rem;
}

.footer__list {
  padding: 1rem 1.5rem;
  list-style: none;
}

footer ul li {
  padding-bottom: 0.5rem;
}
footer ul li > a {
  color: #fff;
  text-decoration: none;
  padding-left: 0.5rem;
}
footer ul li > footer-icon {
  width: 1rem;
  height: 1rem;
}

/*# sourceMappingURL=main.css.map */
