

$font-title-size: 1.5rem;
$radius-size: 20px;
$cd-primary: #9356DC;
$cd-secondary: #FF79DA;
$cd-tertiary: #99E2D0;
$cd-bg-neutral: #f6f6f6;
$cd-hover-explanations: #f5edff;

$font-logo: 'Shrikhand', sans-serif;
$font-txt: 'Roboto', sans-serif;
$header-lg-size: 2rem;

$cd-bg-localisation: #eaeaea;

$btn-bg-2: linear-gradient(0deg, rgba(147,86,220,1) 0%, rgba(175,95,219,1) 24%, rgba(183,98,219,1) 43%, rgba(201,104,219,1) 56%, rgba(222,111,219,1) 75%, rgba(244,118,218,1) 100%);
$btn-bg: linear-gradient(173deg, rgba(255,121,218,1) 0%, rgba(214,108,219,1) 39%, rgba(171,94,220,1) 85%, rgba(155,89,220,1) 100%);
$btn-bg-hover: linear-gradient(173deg, rgba(255,121,218,0.9) 0%, rgba(214,108,219,0.9) 39%, rgba(171,94,220,0.9) 85%, rgba(155,89,220,0.9) 100%);

$cd-explanation-logo: #7e7e7e;