.btn {
    border-radius: 30px;
    background: $btn-bg;
    color: #fff;
    text-decoration: none;
    margin: 0 3rem;
    padding: 1rem;
    font-size: 1.1rem;
    outline: none;
    border: none;
    @include shadow;
    transition: all 250ms;
    &:hover {
        background: $btn-bg-hover;
        box-shadow: 2px 2px 10px #646363;
    }
    &:active {
        text-decoration: none; 
    }
}

.heart {
    border: none;
    background: yellow;
    @include flex-center;
    &__icon {
        background: #fff;
        color: #000;
        position: relative;
        width: 3vw;
        height: 3vw;
        overflow: hidden;
        z-index: 1;
    }
}

.heart__icon::before {
    content:'';
    position: absolute;
    width: 100%;
    height: 0%;
    display: block;
    background: $btn-bg;
    transform-origin: bottom;
    transition: height 1000ms;
    z-index: -1;
}

.heart__icon:hover::before{
    height: 100%;
}


.heart-2 {
    background: #fff;
}

.heart__icon-2 {
    position: relative;
    width: 3vw;
    height: 3vw;
    color: #000;
    transform: scale(1);
}

.heart__icon-2::before {
    content:'';
    position: absolute;
    width: 100%;
    height: 100%;
    display: block;
    background: $btn-bg;
    -webkit-background-clip: text;
            background-clip: text;
    transform: scale(0);
    font-weight: 900 !important;
    color: transparent;
}

.heart__icon-2:active::before {
    animation: heart-btn 1000ms;
}

.heart-3 {
    background: #fff;
}

.heart__icon-3 {
    width: 3vw;
    height: 3vw;
    position: relative;
    z-index: 3;
}

.heart__icon-3-bis {
    width: 100%;
    height: 100%;
    display: block;
    position: absolute;
    left: 0;
    background: $btn-bg;
    -webkit-background-clip: text;
            background-clip: text;
    font-weight: 900 !important;
    color: transparent;
    opacity: 0;
    z-index: 4;
}

.heart__icon-3:active {
     animation: heart-hide 500ms 150ms forwards;
     & > .heart__icon-3-bis:active {
        animation: heart-btn 250ms ease-out normal forwards;
    }
 }

 .heart-4 {
    width: 9vw;
    height: 9vw;
    @include flex-center;
    position: relative;
 }

 .visually-hidden {
     visibility: hidden;
 }

 .heart__icon-4 {
    width: 3vw;
    height: 3vw;
}

.heart-4 label {
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
}

.heart-4 input[type=checkbox]:checked + label {
    width: 100%;
    height: 100%;
    background: $btn-bg;
    -webkit-background-clip: text;
            background-clip: text;
    font-weight: 900 !important;
    color: transparent;
    animation: heart-btn 300ms ease-in-out;
    & > .far {
        font-weight: 900;
    }
}