/******* MAIN BUTTON *******/
.btn {
    border-radius: 30px;
    background: $btn-bg;
    color: #fff;
    text-decoration: none;
    margin: 0 3rem;
    padding: 1rem;
    font-size: 1.1rem;
    outline: none;
    border: none;
    @include shadow;
    transition: all 250ms;
    &:hover {
        background: $btn-bg-hover;
        box-shadow: 2px 2px 10px #646363;
    }
    &:active {
        @include no-deco; 
    }
}


/***** MENU PAGE - HEART BUTTON *****/
.visually-hidden {
    visibility: hidden;
}

 .like-btn {
    width: 11vw;
    height: 9vw;
    @include flex-center;  
    & > .__icon {
        display: block;
    } 
    
 }

.like-btn label {
    @include flex-center;
    width: 100%;
    height: 100%;
}

.like-btn input[type=checkbox]:checked + label {
    width: 100%;
    height: 100%;
    background: $btn-bg;
    -webkit-background-clip: text;
            background-clip: text;
    font-weight: 900 !important;
    color: transparent;
    @include flex-center;
    animation: heart-btn 300ms ease-in-out;
    & > .far {
        font-weight: 900;
    }
}

/******* MENU PAGE - COMMAND BUTTON *********/

.btn-command {
    width: 50%;
    margin: 2rem 3rem 4rem 3rem;
}