*, html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100vw;
    margin: 0 auto;
    overflow-x: hidden;
    font-family: 'Roboto', sans-serif !important;
    font-size: 16px;
}

.responsive {
    width:100%;
    height:auto;
    display: block;
}

.no-deco {
    text-decoration: none;
}

h1 {
    font-size: $font-title-size;
}

h2 {
    font-size: $font-title-size - .3rem;
    padding-bottom: .5rem;
}

p {
    font-weight: 400;
    font-size: 1.125rem;
}

@keyframes heart-btn {
    0% {
        transform: scale(0);
        opacity: 1;
    }
    100% {
        transform: scale(1);
        opacity: 1;
    }
}

@keyframes menu-title-apparition {
    0% {
        opacity: 0;
        // transform: translateX(-50%);
    }
    100% {
        opacity: 1;
        // transform: translateX(1);
    }
}

@keyframes underline {
    0% {
        transform: scaleX(0);
    }
    100% {
        transform: scaleX(1);
    }
}

@keyframes checked {
    0% {
      transform: translateX(100px);
    }
    100% {
      transform: translateX(1);
    }
  }

  @keyframes transition {
    0% {
      width: 100%;
    }
    100% {
      width: 80%;
    }
}
  
  @keyframes price {
    0% {
      transform: translateX(60px);
    }
    100% {
      transform: translateX(1);
    }
  }

  @keyframes rotation {
      0% {
        transform: rotate(0deg);
      }
      100% {
        transform: rotate(360deg);
      }
  }