.header__logo {
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: .5rem 0;
    box-shadow:0px 2px 3px #918b91c0;
    font-family: $font-logo;
    font-size: $header-lg-size;
}