.restaurants {
    background: $color-bg-neutral;
    display: flex;
    flex-direction: column;
    text-decoration: none;
    padding-bottom: 2rem;
    @include deckstop-only {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
    }
    h1 {
        margin: 2.5rem 1.5rem .5rem 1.5rem;
        @include deckstop-only {
            width: 100%;
            padding-left: 2.5rem;
        }
    }
    &__card {
        display: flex;
        flex-direction: column;
        flex: 1 1 0;
        margin: 1rem 1.5rem;
        border-radius: $radius-size;
        @include shadow;
        color: $color-black;
        position: relative;
        @include deckstop-only {
            flex: 1 1 275px;
            max-width: 300px;
        }
        &--description {
            padding: 1rem;
            background: #fff;
            border-bottom-left-radius: $radius-size;
            border-bottom-right-radius: $radius-size;
            display: flex;
            justify-content: space-between;
            align-items: center; 
            flex: 1;
            & > .restaurant-infos {
                display: inline-flex;
                flex-direction: column;
                flex-grow: 1;
                text-decoration: none;
                margin-right: 2rem;

            }   
        }
    }
    
}

.card-link {
    color: $color-black;
}

.restau-picture {
    max-height: 200px;
    object-fit: cover;
    border-top-left-radius: $radius-size;
    border-top-right-radius: $radius-size;
}